<!doctype html>
<html>
    <head>
        <%- include('../components/head') -%>
        <script>
            var status = "<%- status %>";
            var serverError = <%- serverError %>;
            var registeredUrls = <%- registeredUrls %>;

            if (serverError) {
                console.log("Server Error:");
                console.log(serverError);
            }

            if (registeredUrls) {
                console.log("Registered URLs");
                console.log(registeredUrls);
            }
        </script>
    </head>
    <body>
        <div class="w-full h-full mt-28">
            <div class="m-auto">
                <img
                    alt="OmniHive Logo"
                    class="m-auto"
                    src="https://res.cloudinary.com/drmwm8u2c/image/upload/c_scale,w_150/v1557346251/branding/logos/omnihive-bee-white.png" />
            </div>
            <div class="m-auto text-center mt-9">
                <span class="text-white text-2xl">OMNIHIVE SERVER</span>
                <br />
                <span class="text-yellow-500 text-xl">STATUS: <%= status.toUpperCase() %></span>
            </div>
        </div>
    </body>
</html>